body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.on-main-page {
	position: absolute;
	top: 10px;
	right: 10px;

}

.welcom-page--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.welcom-page__avatar {
	width: 30%;
	height: 100%;
	margin: 20px;
}

.welcom-page__avatar img {
	width: 100%;
	border-radius: 10px;
}

.welcom-page__main {
	width: 70%;
	min-height: 100vh;
}

.welcome-text {
	font-size: 30px;
	text-align: justify;
}

.welcome-text--wrapper {
	margin: 20px;
}

.category-choose {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	min-width: 300px;
	min-height: 170px;
	border-radius: 10px;
	border: 2px solid black;
	margin: 15px;
}

.category h2 {
	margin-top: 9px;
	text-align: center;
}



/*------------------subcategory page------------------*/

.subcategory-page {
	width: calc(100% - 40px);
	min-height: calc(100vh - 40px);
	padding: 20px;
	font-size: 24px;
}

.subcategory--wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.subcategory {
	min-width: 300px;
	width: 27%;
	height: 170px;
	margin: 19px;
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.subcategory h2 {
	text-align: center;
	margin-top: 18px;
}


/*-----------doctor record-------------*/

.doctor-record {
	padding: 20px;
	width: 100%;
	height: 100vh;
	font-size: 24px;
}

.main-headline {
	text-align: center;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ddd;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*--------auth page---------------*/

.button { 
	/*font-family: 'DKCForever', sans-serif; */
	text-transform: uppercase; 
	outline: 0;
	display: inline-block;
	text-align: center;
	width: 100px; 
	height: 50px; 

	border: 3px #CCCCCC; 
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */ 
	-webkit-border-radius: 10px; /* закругление для старых Chrome и Safari */ 
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */ 
	border-radius: 10px; /* закругление углов для всех, кто понимает */ 

	padding: 12px 15px 15px; 
	margin: 30px; 
	color: white; 
	font-size: 14px; 
	cursor: pointer; 
}

.button:hover, .button:active, .button:focus { 
	background: white; 
	color: black; 
} 